.cast__member {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.button--show-movies {
  margin: 0;
  padding: 10px 10px;
}

.cast__member-movie {
  margin: 5px 30px;
}