// Color Variables
$color-red: #FF492E;
$color-black: #000000;
$color-grey: #999999;
$color-white: #FFFFFF;

// Font Variables
$font-family-primary: 'Roboto', sans-serif;

$font-size-body: 19px;
$font-size-h1: 42px;

$font-weight-body: 400;
$font-weight-h1: 500;